<ion-tabs>
  <ion-tab [root]="tab0Root" tabTitle="Beacons" tabIcon="bluetooth"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Conexões" tabIcon="apps"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Mapa" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Config" tabIcon="cog"></ion-tab>
</ion-tabs>
