<ion-header>
    <ion-navbar>
        <ion-title>
            UbiBLE
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines>

        <ion-item *ngFor="let beacon of beacons">
            <ion-item>
                <p>{{beacon.uuid}}</p>
                <h4>
                    Distancia (m): {{beacon.accuracy}}
                </h4>
                <h4>RSSI: {{beacon.rssi}}</h4>
                <p>Major: {{beacon.major}}</p>
                <p>Minor: {{beacon.minor}}</p>
                <p>Local: {{environment.name}}</p>
            </ion-item>
        </ion-item>

    </ion-list>
</ion-content>